<%- include('./layouts/header') %>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>
        Data Table Example
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" elc-js="SelectResultTbl" width="100%" id="dataTable" cellspacing="0">
            <thead>
              <tr>
                <th>Table Name</th>
                <th>Scheme</th>
                <th>Content</th>
              </tr>
            </thead>
            <tfoot>
                <th>Table Name</th>
                <th>Scheme</th>
                <th>Content</th>
            </tfoot>
            <tbody>
              <% rtafiles.forEach(function(r) { %>
                <tr>
                  <td><%= r['tbname'] %></td>
                  <td><a href="">Scheme</a></td>
                  <td><a href="/content/<%= r['tbname'] %>">Content</a></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->

<%- include('./layouts/footer') %>
