<%- include('./layouts/header') %>

<div class="content-wrapper">
  <div class="container-fluid">
  <h1>Welcome to RTA Manager!</h1>

  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->

<%- include('./layouts/footer') %>
