<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
      <title>RTA Manager</title>
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <div id="app">
    </div>
  </body>
</html>
